.service-card img {
    width: 380px;
    height: 250px;
    border-radius: 10px;
}

.service-card h3 {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 400;
}

.service-card p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
}

.service-card {
    box-shadow: 0px 2px 3px 0px #5f6368;
    padding: 30px;
    border-radius: 10px;
    transition: .3s;
}

.service-card:hover {
    box-shadow: 3px 5px 6px 2px #5f6368;
    transition: .3s;
}

@media only screen and (max-width: 688px) {
    .service-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
}