/* fact-area */
.fact-area {
    /* background-color: #D2E7F8; */
    padding: 50px 0;
    /* margin: 30px 0; */
}

.fact-box {
    text-align: center;
    border: 1px dashed #1e3056;
    padding: 30px 0;
    color: #1e3056;
    transition: .4s;
    cursor: pointer;
}

.fact-box:hover {
    margin-top: -10px;
    transition: .4s;
    cursor: pointer;
}

.fact-box i {
    font-size: 30px;
    margin-bottom: 8px;
}

.fact-box h5 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.fact-box p {
    font-weight: bold;
    margin: 0;
    padding: 0;
}


/* call to action  */
.call-to-action-area {
    background-image: url(http://gfxpartner.com/Caremed/assets/images/demos/demo-1/banner/banner-cta.jpg);
    padding: 160px 0;
    background-position: center;
    background-size: cover;

}

.banner-title {
    font-size: 50px;
    padding-bottom: 30px;
    color: #1e3056;
}