/* Hero / banner area  */

.banner {
    background-image: url('https://templates.envytheme.com/goldmedi/default/assets/img/hero-bg.jpg');
    background-position: center;
    background-size: cover;
}

.hero-content {
    padding: 120px 0;
}

.hero-content h1 {
    color: #1e3056;
    font-size: 35px;
    margin-bottom: 15px;
    line-height: 45px;
}

.hero-content h1 span {
    color: #0078ff;
}

.hero-content p {
    margin-bottom: 25px;
    font-size: 15px;
    max-width: 600px;
}

.btn {
    position: relative;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 11px 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    background: #00c6ff;
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    background: linear-gradient(to right, #0072ff, #00c6ff);
}

/* Hero / banner area End */